div(class='col-sm-2')
    ul(class='sidebar-nav')
        li
            a(href='/') Home
            hr
        li
            a(href='/auth/login') Login
        li
            a(href='/auth/users') List Users
        li
            a(href='/auth/users/add') Add a new user
            hr
        li
            a(href='/auth/schedules') List Schedules
        li
            a(href='/auth/schedules/add') Add a new schedule
            hr
        li
            a(href='/auth/profile') My Profile
        li
            a(href='/auth/logout') Logout