doctype html
html
  include components/head.pug
  body
    div(class='container-fluid')
      div(class='row')
        include components/sidebar.pug
        div(class='col-sm-6')
          block section