extends layout

block content

  h1 Worker: #{worker.name}

  div(style='margin-left:20px;margin-top:20px')

    h3 Schedules
    p Info goes here.
  hr
  p
    a(href=worker.url+'/delete') Delete worker
  p
    a(href=worker.url+'/update') Update worker     